<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
	<!-- HM 생성 -->
	<!-- 
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/login.do">login</prop>
				<prop key="/main.do">main</prop>
			</props>
		</property>
	</bean>
	 -->
	<!-- Controller 객체 생성 -->
	<!-- 
	<bean class="com.spring.controller.LoginController" id="login" />
	<bean class="com.spring.controller.MainController" id="main" />
	 -->
	<!-- VR 생성  / id는 정해져있는걸로 사용해야한다.  -->
	<!-- 
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
 	  -->
 	  
 	 
	<!-- Conn객체를 확보하는 것이 어떤 JDBC에서든지 중요한 포인트이다. -->
	<!-- 스프링 JDBC에서는 Conn객체를 확보하는 역할을 담당하는 친구가 "DataSource" 이다. -->
	<!-- 메모리에 DataSource 클래스의 객체 등록 + SQL 설정은 setter주입 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/namdb"/>
		<property name="username" value="root"/>
		<property name="password" value="1234"/>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>	 
	
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
     
    <!-- 
	<context:component-scan base-package="com.spring.controller" />
	-->
	
	<!-- DS와 관련되지 않은 POJO인 클래스의 설정만 들어있으면 된다. 
		Service 레이어 , DAO, AOP  -> 서비스레이어 소스(biz) ,데이터관련과(JDBC템플릿) , aop설정(<aop>)만 들어있으면 된다.
	-->
	<context:component-scan base-package="com.spring.biz" />

	
	
	<!-- 
	<aop:config>
      <aop:pointcut expression="execution(* com.spring.biz..*Impl.*(..))" id="aPointcut"/>
      <aop:pointcut expression="execution(* com.spring.biz..*Impl.select*(..))" id="bPointcut" />
	
	
	
	</aop:config>
	 --> 
	
 	 <!-- Mybatis 
 	    id가 없어도 되는 이유는 Autowired가 타입을 보고 객체를 만들어주기 떄문에
 	    / Factory 패턴 사용함 +dataSource 연결도 여기서 한다.
 	 --> 
 	 <!-- Mybatis -->
   <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="configLocation" value="classpath:sql-map-config.xml" />
      <property name="dataSource" ref="dataSource" />
   </bean>
   <bean class="org.mybatis.spring.SqlSessionTemplate">
      <constructor-arg ref="sqlSession" />
   </bean>
 	  
 	  
</beans>
